@import "/src/app/globals.css";

.main {
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 56px;
  font-weight: 700;
  line-height: 62px;
  letter-spacing: 0em;
  text-align: left;
  z-index: 2;
}
.section {
  display: flex;
  flex-direction: column;
  margin-top: 115px;
  width: 100%;
  height: 100%;
  min-height: 480px;
}
@media (max-width: 1024px) {
  .section {
    padding: 0 32px;
  }
}
@media (max-width: 520px) {
  .section {
    padding: 0;
    margin-top: 450px;
  }
}

.bg {
  position: absolute;
  top: 0;
  left: center;
  transform: translateX(-100px);
  z-index: -1;
}

@media (max-width: 1024px) {
  .bg {
    top: 108px;
  }
}
@media (max-width: 520px) {
  .bg {
    top: 108px;
    left: 99px;
  }
}
.body {
  position: relative;
}
.title {
  align-self: flex-start;
  color: var(--white);
  font-size: 56px;
  font-weight: 700;
  line-height: 62px;
  letter-spacing: 0em;
  text-align: left;
  max-width: 512px;
  /* z-index: 2; */
}

.button {
  align-self: flex-start;
  margin-top: 32px;
}
.subtitle {
  margin-top: 16px;
  align-self: flex-start;
  color: var(--white);
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
  text-align: left;
  max-width: 520px;
}
@media (max-width: 1024px) {
  .title {
    font-size: 48px;
    font-weight: 700;
    line-height: 52.8px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }
  .subtitle {
    font-size: 16px;
    font-weight: 400;
    line-height: 19.2px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }
}
@media (max-width: 520px) {
  .title {
    font-size: 24px;
    font-weight: 700;
    line-height: 31.2px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }
  .subtitle {
    font-size: 16px;
    font-weight: 400;
    line-height: 22.4px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }
}
.header {
  color: var(--white);
}
@media (max-width: 1024px) {
  .header {
    background-color: #000014;
    position: sticky;
    top: 0;
    z-index: 100;
    padding: 32px 24px 0;
  }
}
.container {
  display: flex;
  flex-direction: column;
}
.logo {
  max-width: 311px;
  display: flex;
  gap: 16px;
  align-items: center;
}
.logo__title {
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  color: var(--green);
}

.list {
  display: flex;
  gap: 16px;
  align-items: center;
}
.listItem {
  display: flex;
  align-items: center;
  gap: 8px;
}
.listItem:nth-of-type(3) {
  margin-left: 8px;
}

.topContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 12px;
  border-bottom: 1px solid var(--green-border);
}
.bottomContainer {
  margin-top: 24px;
  display: flex;
  padding: 0 20px;
  align-items: center;
}
@media (max-width: 1024px) {
  .listMenu {
    flex-direction: column;
    gap: 32px;
    padding-bottom: 40px;
  }
  .list {
    align-items: flex-start;
    flex-direction: column;
    gap: 32px;
    border-top: 1px solid var(--green);
    padding: 40px 0;
  }
  .listItem:nth-of-type(3) {
    margin: 0;
  }
  .bottomContainer {
    margin: 0;
    padding: 0;
  }
  .linkItem {
    display: flex;
    align-self: flex-start;
    gap: 16px;
    align-items: center;
  }
}
.listMenu {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.menuItem {
  cursor: pointer;
  transition: var(--transition, all 0.2s cubic-bezier(0.42, 0, 0.58, 1));
  position: relative;
  padding: 0 10px 8px;
}
.menuItem:hover {
  color: var(--green);
}

.menuItem:hover,
.menuItem:active {
  opacity: 1;
}
.menuItem:active {
  transform: scale(1.1);
}
.menuItem:before,
.menuItem:after {
  content: " ";
  border-bottom: 1px solid var(--green);
  width: 0;
  bottom: 0;
  left: 50%;
  position: absolute;
  transition: all 200ms ease-in-out;
}
.body {
  margin-right: 0 !important;
}
.menuItem:hover:before,
.menuItem:hover:after {
  width: 50%;
}
.menuItem:hover:before {
  left: 0;
}
.social {
  transition: var(--transition, all 0.2s cubic-bezier(0.42, 0, 0.58, 1));
  transform: scale(1);
}
.social:hover {
  transform: scale(1.1);
}
