.desc {
  margin-top: 24px;
  font-size: 24px;
  font-weight: 700;
  line-height: 28.8px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
.swiper {
  margin-top: 84px;
  margin-bottom: 110px;
  display: flex;
  gap: 28px;
}
.listItem {
  display: flex;
  flex-direction: column;
  gap: 20px;
  min-width: 288px;
  max-width: 288px;
}
.descBlock {
  display: flex;
  flex-direction: column;
  gap: 26px;
  padding: 48px 24px;
  background-color: #ffffff05;
  border: 1px solid var(--green);
  border-bottom-left-radius: 40px;
}
.alternateDescBlock {
  border-radius: 0px;
  border-top-left-radius: 40px;
}

.descItem {
  font-size: 16px;
  font-weight: 400;
  line-height: 22.4px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
.avatarBlock {
  display: flex;
  gap: 21px;
  align-items: center;
}
.avatar {
  border-radius: 225px;
  overflow: hidden;
  min-width: 84px;
  width: 84px;
  height: 84px;
  min-height: 84px;
}
.nameBlock {
  display: flex;
  flex-direction: column;
  color: #dff7fc;
}
.name {
  font-size: 24px;
  font-weight: 700;
  line-height: 28.8px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
.date {
  font-size: 16px;
  font-weight: 400;
  line-height: 22.4px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #c4cece;
}
